@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  margin: 0;
  font-family: "Open Sans"; }

h1 {
  font-size: 2.875em;
  color: #000000; }

h2 {
  font-size: 2.125em;
  padding-bottom: 35px;
  letter-spacing: 2px; }

p {
  line-height: 38px;
  margin: 15px 0 15px;
  font-size: 16px; }

a {
  color: #ffffff; }
  a:hover {
    color: #ffffff;
    text-decoration: none; }

section {
  margin-bottom: 50px; }
  section h2 {
    margin: 35px 0 0;
    color: #ffffff; }

@media screen and (max-width: 479px) {
  section {
    margin-bottom: 0; }
    section h2 {
      font-size: 1.5em; } }

.section-company-name {
  position: relative;
  height: 300px;
  background: url("../images/header_bcg-color.jpg") no-repeat;
  background-size: cover; }
  .section-company-name .company__name {
    margin-top: 80px;
    margin-left: 10%; }
    .section-company-name .company__name .company-title {
      font-size: 3.875em;
      color: #ffffff; }
    .section-company-name .company__name .companyname__owners {
      color: #ffffff;
      font-size: 3em; }

@media screen and (max-width: 479px) {
  .section-company-name .company__name .company-title {
    font-size: 1.5em; }
  .section-company-name .company__name .companyname__owners {
    font-size: 1.5em; } }

@media screen and (max-width: 801px) {
  .section-company-name {
    height: 200px; }
    .section-company-name .company__name {
      margin-top: 100px;
      margin-left: 0%; }
      .section-company-name .company__name .company-title {
        font-size: 1.5em; } }

.section-core-business-btn {
  position: relative;
  height: 350px; }
  .section-core-business-btn .core {
    height: 250px;
    margin-top: 80px; }
    .section-core-business-btn .core .circle {
      position: relative;
      margin: 0 auto;
      border-radius: 50%;
      background: #a26745;
      width: 200px;
      height: 200px;
      padding-top: 25px;
      cursor: pointer;
      transition: 0.7s; }
      .section-core-business-btn .core .circle img {
        margin-bottom: 15px; }
      .section-core-business-btn .core .circle:hover {
        padding-top: 22px;
        background: #bb815f; }

@media screen and (max-width: 801px) {
  .section-core-business-btn {
    display: none; } }

.section-core-business-info {
  background: #a26745; }
  .section-core-business-info .corebusinessinfo {
    color: #ffffff;
    padding-top: 35px;
    text-align: center; }
    .section-core-business-info .corebusinessinfo a:before {
      font-family: FontAwesome;
      content: "\f08e";
      display: inline-block;
      padding-right: 3px; }
    .section-core-business-info .corebusinessinfo a:hover:before {
      font-family: FontAwesome;
      content: "\f14c";
      display: inline-block;
      padding-right: 5px; }
  .section-core-business-info .corebusinessinfo__shoemaking {
    margin-top: -21px;
    padding-bottom: 25px;
    background: url("../images/arrow-shoe-info-cognac.png") no-repeat center top; }
  .section-core-business-info .corebusinessinfo__keys {
    margin-top: -21px;
    padding-bottom: 25px;
    background: url("../images/arrow-keys-info-cognac.png") no-repeat center top; }
  .section-core-business-info .corebusinessinfo__engraving {
    margin-top: -21px;
    padding-bottom: 25px;
    background: url("../images/arrow-engraving-info-cognac.png") no-repeat center top; }
  .section-core-business-info .corebusinessinfo__carplates {
    margin-top: -21px;
    padding-bottom: 25px;
    background: url("../images/arrow-car-info-cognac.png") no-repeat center top; }

@media screen and (max-width: 801px) {
  .section-core-business-info {
    display: none; } }

.section-main-actions {
  margin-top: 50px;
  background: url("../images/bcg_aboutus-cognac.png") center repeat-x;
  background-size: cover; }
  .section-main-actions .main-actions__container {
    background: url("../images/bcg-container-aboutus-cognac.png") no-repeat;
    background-size: cover; }
    .section-main-actions .main-actions__container h2 {
      text-align: center;
      background: url("../images/h2-line.png") no-repeat bottom center; }
    .section-main-actions .main-actions__container p {
      color: #ffffff; }

@media screen and (max-width: 479px) {
  .section-main-actions {
    background: none; }
    .section-main-actions .main-actions__container {
      background: #a26745; } }

.actions {
  margin-top: 15px; }
  .actions .actions__content {
    padding: 0 15px 15px 15px;
    border: solid 1px #ffffff;
    background: url("../images/bcg_actions_gray.png") repeat;
    transition: 0.7s; }
    .actions .actions__content:hover {
      background: #8b8b8b; }
    .actions .actions__content a:before {
      font-family: FontAwesome;
      content: "\f08e";
      display: inline-block;
      padding-right: 3px; }
    .actions .actions__content a:hover:before {
      font-family: FontAwesome;
      content: "\f14c";
      display: inline-block;
      padding-right: 5px; }

.section-contact_info {
  min-height: 395px;
  background: url("../images/bcg-contact-info.png") no-repeat;
  background-size: cover; }
  .section-contact_info .content-info {
    background: #8b8b8b;
    padding: 20px; }
    .section-contact_info .content-info h2 {
      background: url("../images/h2-line.png") no-repeat bottom center;
      padding-left: 15px; }
    .section-contact_info .content-info a:before {
      font-family: FontAwesome;
      content: "\f08e";
      display: inline-block;
      padding-right: 3px; }
    .section-contact_info .content-info a:hover:before {
      font-family: FontAwesome;
      content: "\f14c";
      display: inline-block;
      padding-right: 5px; }

@media screen and (max-width: 479px) {
  .section-contact_info .content-info {
    margin: 15px 0; } }

.section-contactform {
  min-height: 295px;
  background: #8b8b8b;
  margin-bottom: 0px; }
  .section-contactform .content-contactform h2 {
    padding-bottom: 5px; }
  .section-contactform .content-contactform p {
    color: #ffffff;
    padding-bottom: 15px;
    background: url("../images/p-line.png") no-repeat bottom center; }

footer {
  background: #a26745;
  color: #ffffff;
  padding: 25px 0; }
  footer .mobilephone-mobile {
    display: none; }

@media screen and (max-width: 479px) {
  footer .mobilephone-destop {
    display: none; }
  footer .mobilephone-mobile {
    display: block; }
    footer .mobilephone-mobile .btn-secondary {
      width: 100%;
      background: #8b8b8b;
      border-radius: 0%;
      margin: 15px 0; }
      footer .mobilephone-mobile .btn-secondary a {
        color: #ffffff;
        font-size: 1.2em; }
        footer .mobilephone-mobile .btn-secondary a:before {
          font-family: FontAwesome;
          content: "\f08e";
          display: inline-block;
          padding-right: 3px; }
        footer .mobilephone-mobile .btn-secondary a:hover:before {
          font-family: FontAwesome;
          content: "\f14c";
          display: inline-block;
          padding-right: 5px; } }

.section-page {
  background: url("../images/bcg-content-page-cognac.png") no-repeat 0% 50%;
  min-height: 550px; }
  .section-page h2 {
    color: #000000; }

.actions--full__content {
  border: solid 1px #905c3d;
  margin: 15px 0;
  padding: 15px; }
  .actions--full__content .action-flyer a {
    color: #000000; }
    .actions--full__content .action-flyer a::before {
      content: 'Download hier de folder - '; }
  .actions--full__content h2 {
    margin: 0; }

.menu-header-cta {
  position: absolute;
  z-index: 1;
  right: 120px;
  top: 40px; }
  .menu-header-cta li {
    position: relative;
    display: block;
    float: left;
    margin-right: 20px;
    border-right: solid 1px white;
    padding-right: 25px; }
    .menu-header-cta li:last-child {
      border-right: none;
      padding-right: 25px; }
  .menu-header-cta a {
    color: white;
    font-size: 1.75em;
    transition: 0.5s; }
    .menu-header-cta a:hover {
      color: #e5e5e5;
      text-decoration: none; }

@media screen and (max-width: 479px) {
  .menu-header-cta {
    left: 25px; }
    .menu-header-cta li {
      padding-right: 10px;
      margin-right: 10px; }
    .menu-header-cta a {
      font-size: 1em; } }

.menu-header-main {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background: rgba(162, 103, 69, 0.1);
  top: -2000px;
  right: 0;
  transform: rotate(-90deg);
  padding: 2% 5% 0;
  transition: 1s; }
  .menu-header-main.showmenu {
    height: 100%;
    width: 100%;
    right: 0px;
    top: 0px;
    transform: rotate(0deg);
    background: rgba(162, 103, 69, 0.95); }
  .menu-header-main .closemenu-btn {
    position: absolute;
    right: 35px;
    cursor: pointer;
    transition: 0.5s, ease-in-out; }
    .menu-header-main .closemenu-btn:hover {
      transform: rotate(180deg); }
  .menu-header-main .nav {
    text-align: center;
    margin-top: 50px; }
    .menu-header-main .nav a {
      font-size: 2.125em;
      color: #ffffff;
      transition: 1s; }
      .menu-header-main .nav a:hover {
        color: #e5e5e5;
        background: none; }

.menu-header-button {
  position: absolute;
  z-index: 1;
  right: 35px; }
  .menu-header-button .showmenu-btn {
    width: 48px;
    margin: 35px 0;
    cursor: pointer;
    transition: 0.5s; }
    .menu-header-button .showmenu-btn:hover {
      width: 42px; }

@media screen and (max-width: 479px) {
  .menu-header-main .nav a {
    font-size: 1.25em; }
  .menu-header-button .showmenu-btn {
    width: 28px; }
    .menu-header-button .showmenu-btn:hover {
      width: 24px; } }

.content-contactform .form-control {
  border: none;
  background: #a26745;
  color: #ffffff;
  border-radius: 0;
  transition: 0.5s; }
  .content-contactform .form-control:hover {
    background: #bb815f; }
  .content-contactform .form-control.custom__height {
    height: 50px; }
  .content-contactform .form-control.height__textarea {
    height: 130px; }
  .content-contactform .form-control:first-child {
    margin-bottom: 30px; }

.content-contactform .btn-custom {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: #8b8b8b;
  background: #a26745;
  transition: 0.5s; }
  .content-contactform .btn-custom:hover {
    color: #ffffff;
    background: #bb815f; }

.page__content-contactform .form-control {
  border: none;
  background: #a26745;
  color: #ffffff;
  border-radius: 0;
  transition: 0.5s;
  border: solid 1px #ffffff; }
  .page__content-contactform .form-control:hover {
    background: #bb815f; }
  .page__content-contactform .form-control.custom__height {
    height: 50px; }
  .page__content-contactform .form-control.height__textarea {
    height: 130px; }

.page__content-contactform .btn-custom {
  height: 40px;
  width: 100px;
  border-radius: 0;
  background: #a26745;
  border: solid 1px #ffffff; }

@media screen and (max-width: 479px) {
  .content-contactform input[type=submit] {
    border-radius: 0%;
    height: 50px;
    width: 100%; } }

@media only screen and (max-width: 479px) {
  /* css code voor smartphones in portrait mode */
  h1 {
    font-size: 1.5em; }
  .section-aboutus {
    height: 600px; } }

.tabs a {
  background-color: #ffbe00; }
  .tabs a.is-active {
    background-color: #8b8b8b; }
  .tabs a:hover {
    background-color: #bbbbbb; }

h4.label {
  color: #8b8b8b; }

input#edit-preview {
  display: none; }
