//=========================================================
// @@ ++ Actions full Content region an page actions
//=========================================================

.actions--full__content {
  border: solid 1px $cognac-dark1;
  margin: 15px 0;
  padding: 15px;
  .action-flyer {
    a {
      &::before {
        content: 'Download hier de folder - ';
      }
      color: #000000;
    }
  }
  h2 {
    margin: 0;
  }
}

.view-empty {
  margin-top: 25px;
}