//================================
// @@ ++ Sections
//================================

section {
  margin-bottom: 50px;
  h2 {
    margin: 35px 0 0;
    color: #ffffff;
  }
}

@include mQuery(479px) {
  section {
    margin-bottom: 0;
    h2 {
      font-size: 1.5em;
    }
  }
}