//================================
// @@ ++ Section About Us
//================================

.section-aboutus {
  margin-top: 50px;
  background: url("../images/bcg_aboutus.png") center repeat-x;
  background-size: cover;
  .container-aboutus {
    background: url("../images/bcg-container-aboutus.png") no-repeat;
    background-size: cover;
    .content-aboutus {
      h2 {
        text-align: center;
        background: url("../images/h2-line.png") no-repeat bottom center;
      }
      p {
        color: #ffffff;
      }
    }
  }
}

@include mQuery(479px) {
  .section-aboutus {
    .container-aboutus {
      background: $darker-yellow;
    }
  }
}