//================================
// @@ ++ Section Page
//================================

.section-page {
  background: url("../images/bcg-content-page-cognac.png") no-repeat 0% 50%;
  min-height: 550px;
  h2 {
    color: #000000;
  }
}