//================================
// @@ ++ Section Core business
//================================

.section-core-business-btn {
  position: relative;
  height: 350px;
  .core {
    height: 250px;
    margin-top: 80px;
    .circle {
      position: relative;
      margin: 0 auto;
      border-radius: 50%;
      background: $cognac;
      width: 200px;
      height: 200px;
      padding-top: 25px;
      cursor: pointer;
      transition: 0.7s;
      img {
        margin-bottom: 15px;
      }
      &:hover {
        padding-top: 22px;
        //lighten = sass function
        background: lighten($cognac, 10);
      }
    }
  }
}

@include mQuery(801px) {
  .section-core-business-btn {
    display: none;
  }
}

// Mixin

@mixin corebusinessinfo {
  margin-top: -21px;
  padding-bottom: 25px;
}

.section-core-business-info {
  background: $cognac;
  //height: 380px;
  .corebusinessinfo {
    color: #ffffff;
    padding-top: 35px;
    text-align: center;
    a {
      @include url;
    }
  }
  .corebusinessinfo__shoemaking {
    @include corebusinessinfo;
    background: url("../images/arrow-shoe-info-cognac.png") no-repeat center top;
  }
  .corebusinessinfo__keys {
    @include corebusinessinfo;
    background: url("../images/arrow-keys-info-cognac.png") no-repeat center top;
  }
  .corebusinessinfo__engraving {
    @include corebusinessinfo;
    background: url("../images/arrow-engraving-info-cognac.png") no-repeat center top;
  }
  .corebusinessinfo__carplates {
    @include corebusinessinfo;
    background: url("../images/arrow-car-info-cognac.png") no-repeat center top;
  }
}


@include mQuery(801px) {
  .section-core-business-info {
    display: none;
  }
}