//================================
// @@ ++ Sections
//================================

section {
  margin-bottom: 50px;
  h2 {
    margin: 35px 0 0;
    color: #ffffff;
  }

  a {
    @include url;
  }
}

@include mQuery(479px) {
  h2 {
    font-size: 1.5em;
  }
}






