//================================
// @@ ++ Section Contactform
//================================

.section-contactform {
  min-height: 395px;
  background: $dark-gray;
  margin-bottom: 0px;
  .content-contactform {
    h2 {
      padding-bottom: 5px;
    }
    p {
      color: #ffffff;
      padding-bottom: 15px;
      background: url("../images/p-line.png") no-repeat bottom center;
    }
  }
}


