//================================
// @@ ++ Section Main Actions
//================================

// //////////////////////////////
// Main content = about-us text
// /////////////////////////////
.section-main-actions {
  margin-top: 50px;
  background: url("../images/bcg_aboutus-cognac.png") center repeat-x;
  background-size: cover;
  .main-actions__container {
    background: url("../images/bcg-container-aboutus-cognac.png") no-repeat;
    background-size: cover;
    h2 {
      text-align: center;
      background: url("../images/h2-line.png") no-repeat bottom center;
    }
    p {
      color: #ffffff;
    }
  }
}

@include mQuery(479px) {
  .section-main-actions {
    background: none;
    .main-actions__container {
      background: $darker-yellow;
    }
  }
}

// /////////////////////////
// Actions content
// ////////////////////////
.actions {
  margin-top: 15px;
  .actions__content {
    padding: 0 15px 15px 15px;
    border: solid 1px #ffffff;
    background: url("../images/bcg_actions_gray.png") repeat;
    transition: 0.7s;
    &:hover {
      background: $dark-gray;
    }
    a {
      @include url;
    }
  }
}