{#
/**
 * Created by Stefan on 22/08/2016.
 */
#}

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">&copy; <a href="{{ path('<front>') }}">Ronny & Annie</a> | {{ 'now'|date('Y') }}</div>
      <div class="col-sm-4">
        <div class="mobilephone-destop">
          Telefoon: 0495509492
        </div>
        <div class="mobilephone-mobile">
          <button class="btn btn-secondary" type="button"><a href="tel:+32495509492">GSM 32495509492</a></button>
        </div>

      </div>
      <div class="col-sm-4"><a href="#">Brugstraat 13 Heusden-Zolder</a> </div>
    </div>
  </div>
</footer>
