{#
/**
 * Created by Stefan on 23/08/2016.
 */
#}

<section class="section-company-name">
  <div class="container container-company-name">
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
      <div class="company__name">
        {# TODO site title printen #}
        <div class="company-title">SCHOENHERSTELLINGEN</div>
        <div class="companyname__owners">
          <span>Ronny & Annie</span>
        </div>
      </div>
    </a>
  </div>

  <!-- end container-company-name -->
  <div class="arrow">
    <img src="{{ base_path ~ directory }}/images/arrow-down.png">
  </div>
</section>