<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!--[if lt IE 9]>
    <script>
        document.createElement('video');
    </script>
    <![endif]-->
    <title>Schoenmakerij Ronny & Annie</title>
</head>
<body>
<div class="video__bcg">
    <video autoplay loop poster="../../images/poster_bcg.jpg" class="videobcg__video">
        <source src="../../video/video_schuren.webm" type="video/webm">
        <source src="../../video/video_schuren.mp4" type="video/mp4">
    </video>
</div>


<section class="section__firma__name">
    <div class="container firma__name">
        <div class="col-md-6 col-md-offset-3">
            <h1>SCHOENMAKERIJ <br>Ronny & Annie</h1>
        </div>
    </div>
    <div class="arrow">
        <img src="../../images/arrow-down.png">
    </div>
</section>

<section class="container section__core__business">
    <p>Test</p>
</section>
</body>
</html>