<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="../../css/style.css">
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="../../bower_components/font-awesome/css/font-awesome.min.css">
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <title></title>
</head>
<body>
<section class="section__start">
    <video loop muted autoplay poster="">
        <source src="../../video/video_schuren.mp4" type="video/mp4">
    </video>
</section>
<div class="container">

</div>

</body>
</html>