//================================
// @@ ++ Forms
//================================

@mixin form__control {
  border: none;
  background: $yellow;
  color: #ffffff;
  border-radius: 0;
  transition: 0.5s;
  &:hover {
    background: lighten($yellow, 10);
  }
  &.custom__height {
    height: 50px;
  }
}

// ///////////////////////////////////////////////////////
// De contact block op de home pagina in de footer
// ///////////////////////////////////////////////////////

.content-contactform {
  .form-control {
    @include form__control;
    &:first-child {
      margin-bottom: 30px;
    }
    // TODO om een of andere rede wordt de color van de placeholder niet gewijzigd (mixin)
    // TODO gaan dit met Bootstrap uitvoeren
  }
  .btn-custom {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: $dark-gray;
    transition: 0.5s;
    background: $yellow;
    transition: 0.5s;
    &:hover {
      color: #ffffff;
      background: lighten($yellow, 10);
    }
  }
}

// ///////////////////////////////////////////////////////
// Contactformulier op de pagina page--contact.html.twig
// ///////////////////////////////////////////////////////

.page__content-contactform {
  .form-control {
    @include form__control;
    border: solid 1px #ffffff;
  }
  // dit om de submit button niet rond te tonen
  .btn-custom {
    height: 40px;
    width: 100px;
    border-radius: 0;
    background: $yellow;
    border: solid 1px #ffffff;
  }
}

// dit om de submit button niet rond te tonen mobile view
@include mQuery(479px) {
  .content-contactform {
    input[type=submit] {
      border-radius: 0%;
      height: 50px;
      width: 100%;
    }
  }
}