//================================
// @@ ++ Forms
//================================

@mixin form__control {
  border: none;
  background: $cognac;
  color: #ffffff;
  border-radius: 0;
  transition: 0.5s;
  &:hover {
    background: lighten($cognac, 10);
  }
  &.custom__height {
    height: 50px;
  }
  &.height__textarea {
    height: 130px;
  }
}

// ///////////////////////////////////////////////////////
// The contact block on the home page in the footer
// ///////////////////////////////////////////////////////

.content-contactform {
  .form-control {
    @include form__control;
    &:first-child {
      margin-bottom: 30px;
    }
    @include placeholder {
      color: white;
    }
    // gives the following code
    // .content-contactform .form-control ::-webkit-input-placeholder {
    // should be next
    // .content-contactform .form-control::-webkit-input-placeholder {
    // dissolved in the mixin itself and by adding & to each line
    // http://stackoverflow.com/questions/17181849/placeholder-mixin-scss-css#
  }
  .btn-custom {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: white;
    background: $cognac;
    transition: 0.5s;
    &:hover {
      color: #ffffff;
      background: lighten($cognac, 10);
    }
  }
}

// ///////////////////////////////////////////////////////
// Contact form on the page page - contact.html.twig
// ///////////////////////////////////////////////////////

.page__content-contactform {
  .form-control {
    @include form__control;
    border: solid 1px #ffffff;
    @include placeholder {
      color: white;
    }
  }
  // dit om de submit button niet rond te tonen
  .btn-custom {
    height: 40px;
    width: 100px;
    border-radius: 0;
    background: $cognac;
    border: solid 1px #ffffff;
    color: white;
  }
}

// dit om de submit button niet rond te tonen mobile view
@include mQuery(479px) {
  .content-contactform {
    input[type=submit] {
      border-radius: 0%;
      height: 50px;
      width: 100%;
    }
  }
}