//================================
// @@ ++ Forms
//================================

form {
  input[type=text], input[type=email], textarea, input[type=submit] {
    width: 100%;
    border: none;
    background: $yellow;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 15px;
    // TODO om een of andere rede wordt de color van de placeholder niet gewijzigd (mixin)
    @include placeholder {
      font-style: normal;
      color: #ffffff;
      font-weight: normal;
    }
  }
  textarea {}
  input[type=submit] {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: $dark-grey;
    transition: 0.5s;
    &:hover {
      color: #ffffff;
    }
  }
}

@include mQuery(479px) {
  form {
    input[type=submit]{
      border-radius: 0%;
      height: 50px;
      width: 100%;
    }
  }
}

.page__content-contactform {
  input[type=submit] {
    height: 40px;
    width: 100px;
    border-radius: 0%;
  }
  input[type=text], input[type=email], textarea, input[type=submit] {
    border: solid 1px #ffffff;
  }
}
