//=========================================================
// @@ ++ Images Region
// = region at the bottom of the text file page.html.twig
//=========================================================

.field--name-field-afbeelding {
  .field__item {
    display: inline-block;
    margin: 10px;
    img {
      float: left;
    }
  }
}
