//================================
// @@ ++ Video background
//================================

// Video no longer used

.no-video, .touch {
  .video-container {
    video {
      display: none;
    }
  }
}

.no-video, .touch {
  .video-container {
    .poster {
      display: block !important;
    }
  }
}

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000000;
  .poster {
    img {
      width: 100%;
      bottom: 0;
      position: absolute;
    }
  }
  .filter {
    z-index: 100;
    position: absolute;
    background: url("../images/bcg_90pct.png") no-repeat;
    background-size: cover;
    width: 100%;
  }
  .container-firma-name {
    z-index: 110;
    position: absolute;
    top: 15%;
    width: 50%;
    left: 25%;
    color: #fff;
    .firma__name {
      h1 {
        font-family: 'open_sansregular';
        font-size: 5em;
      }
    }
  }
  video {
    position: absolute;
    z-index: 0;
    bottom: 0;
    &.fillWidth {
      width: 100%;
    }
  }
}

