//================================
// @@ ++ Base
//================================

html, body {
  margin: 0;
  font-family: "Open Sans";
}

h1, h2, h3, h4, h5, p {

}
h1 {
  font-size: 3.875em;
  color: #ffffff;
}
video {
  display: block;
}