//================================
// @@ ++ Base
//================================

html, body {
  margin: 0;
  font-family: "Open Sans";
  font-size: 16px;
}

h1, h2, h3, h4, h5, p {}

h1 {
  font-size: 2.875em;
  color: #000000;
  padding-bottom: 15px;
}

h2 {
  font-size: 2.125em;
  padding-bottom: 35px;
  letter-spacing: 2px;
}

h3 {
  font-size: 1.75em;
  padding-top: 15px;
  padding-bottom: 15px;
}

p {
  line-height: 2em;
  margin: 5px 0 5px;
  font-size: 1em;
}

// Include of Fontawesome icon on section.scss
// icon may not appear on the menu items, therefor
a {
  color: #ffffff;
  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
}

li {
  list-style: disc;
  list-style-position: inside;
  margin-left: 25px;
  line-height: 1.5em;
}