//================================
// @@ ++ Vars
//================================

$yellow: #ffbe00;
$dark-yellow: #e6ab00;
$darker-yellow: #cc9800;

$dark-gray: #8b8b8b;
$darkgray-lighter: #bbbbbb;
$light-gray: #e5e5e5;


$cognac: #a26745; // rgb(162,103,69)
$cognac-light1: #b3734d; // rgb(179,115,77)
$cognac-light2: #bb815f; // rgb(187,129,95)
$cognac-light3: #c38f71; // rgb(195,143,113)

$cognac-dark1: #905c3d; // rgb(144,92,61)
$cognac-dark2: #7e5036; // rgb(126,80,54)
$cognac-dark3: #6c452e; // rgb(108,69,46)

$gray-cognac: #767371; // rgb(118,115,113)

// 2016-09-08
$spanish-orange: #e46b02; // rgb(228,107,2)
$ginger: #b26770; //rgb(35,100,170) *
$vivid-orange-peel: #f0a202; // rgb(61,165,217) *
$medium-vermilion: #d95d39; // rgb(115,191,184) *
$big-foot-feet: #ea8c55; // rgb(254,198,1)

